@use '../abstracts/' as *;

.modal{
   @include position(fixed, 0, 0, 0, 0, 100%, 100%);
   @include align(flex, center, center, null);
   background: rgba(0,0,0, .4);
   z-index: 4;

   &__heading {
      h3 {
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: 1.5rem;
         
      }
  }

   &__body{
       background: $white;
       width:40rem;
       height: auto;
       padding: 2rem;
       font-size: 1.5rem;
      @include animation(modelAnimate, .3s, linear, -10rem, 0)
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }
}